block vars
  - var title = "Default"
  - var bodyClass = ""

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    title= title
  body(class=bodyClass)
    include ../components/header
    block content
    include ../components/footer
    noscript JavaScript is off. Please enable to view full site.
